.DS_Store
.env*.local
.pnp.js
.pnpm-debug.log*
.vercel
*.pem
*.tsbuildinfo
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
coverage/
lib/
node_modules/
npm-debug.log*
src/next-env.d.ts
yarn-debug.log*
yarn-error.log*
