.main {
	margin: auto;
	max-width: 700px;
	padding: 0 1rem;
}

.navList {
	display: flex;
	list-style: none;
	padding-left: 0;
	gap: 1rem;
	justify-content: center;
}

.breakItem:after {
	content: "";
	border-right: 1px solid black;
	margin-left: 1rem;
}
